#content {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  min-height: 50vh;
  background: url('pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg') 50% 40% / cover;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: end;
  margin-bottom: 1em;
}

header > h1 {
  height: 3em;
  line-height: 3em;
  text-align: center;
}

header > p { padding: 1em 5em;}

#tabs {
  border-bottom: 2px solid black;
}

label:first-of-type { margin-left: 2em; } /* a bit of space in front of the tabs */

#tabs input { display: none; }

label {
  display: inline-block;
  padding: 1em 3em;
  background: gray;
  border-radius: 4px 4px 0 0;
  position: relative;
  text-transform: capitalize;
}

input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
}

input:checked + label,
input:checked + label::after,
#tab-content {
  background: #fbc85a;
}

input:not(:checked) + label {
  font-size: .8em;
  vertical-align: bottom;
}

label:hover { background: lightgray; }

#tab-content > * { margin-top: 0; }

#tab-content { padding: 3em 1em; }

#tab-content.menu {
  columns: 2;
  text-align: center;
}

h2 { column-span: all; }